In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../../../../../Data/Housing_Data.csv", usecols=['GarageQual', 'FireplaceQu', 'SalePrice'])
df

     FireplaceQu GarageQual  SalePrice
0            NaN         TA     208500
1             TA         TA     181500
2             TA         TA     223500
3             Gd         TA     140000
4             TA         TA     250000
...          ...        ...        ...
1455          TA         TA     175000
1456          TA         TA     210000
1457          Gd         TA     266500
1458         NaN         TA     142125
1459         NaN         TA     147500

[1460 rows x 3 columns]

In [3]:
df.isnull().mean() * 100

FireplaceQu    47.260274
GarageQual      5.547945
SalePrice       0.000000
dtype: float64

In [4]:
# Using sklearn imputation
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.iloc[:, :-1], df.iloc[:, -1], test_size=0.2, random_state=2)
X_train

     FireplaceQu GarageQual
455           TA         TA
863          NaN         TA
504           Fa         TA
1413          Gd         TA
1389          Gd         TA
...          ...        ...
466           Po         TA
299           Gd         TA
493           Fa         TA
527           Gd         TA
1192         NaN         TA

[1168 rows x 2 columns]

In [5]:
from sklearn.impute import SimpleImputer

imp = SimpleImputer(strategy='constant',fill_value='Missing')

X_train_imp = imp.fit_transform(X_train)
X_test_imp = imp.transform(X_test)

0    0.0
1    0.0
dtype: float64

In [17]:
pd.DataFrame(X_train_imp[:,0],columns=['Fireplace']).value_counts()

Fireplace
Missing      557
Gd           302
TA           252
Fa            25
Po            17
Ex            15
Name: count, dtype: int64

In [18]:
pd.DataFrame(X_train_imp[:,1],columns=['Garage']).value_counts()

Garage
TA         1049
Missing      65
Fa           41
Gd           11
Ex            1
Po            1
Name: count, dtype: int64