In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [15]:
df = pd.read_csv("../../../Data/titanic_Dataset.csv",usecols=['Age','Fare','SibSp','Parch','Survived'])
df

     Survived   Age  SibSp  Parch     Fare
0           0  22.0      1      0   7.2500
1           1  38.0      1      0  71.2833
2           1  26.0      0      0   7.9250
3           1  35.0      1      0  53.1000
4           0  35.0      0      0   8.0500
..        ...   ...    ...    ...      ...
886         0  27.0      0      0  13.0000
887         1  19.0      0      0  30.0000
888         0   NaN      1      2  23.4500
889         1  26.0      0      0  30.0000
890         0  32.0      0      0   7.7500

[891 rows x 5 columns]

In [16]:
df.dropna(inplace=True)

In [17]:
df['Family'] = df['SibSp'] + df['Parch']

In [18]:
df

     Survived   Age  SibSp  Parch     Fare  Family
0           0  22.0      1      0   7.2500       1
1           1  38.0      1      0  71.2833       1
2           1  26.0      0      0   7.9250       0
3           1  35.0      1      0  53.1000       1
4           0  35.0      0      0   8.0500       0
..        ...   ...    ...    ...      ...     ...
885         0  39.0      0      5  29.1250       5
886         0  27.0      0      0  13.0000       0
887         1  19.0      0      0  30.0000       0
889         1  26.0      0      0  30.0000       0
890         0  32.0      0      0   7.7500       0

[714 rows x 6 columns]

In [19]:
X = df.iloc[:, 1:]
y = df.iloc[:, 0]

In [20]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:
from sklearn.preprocessing import Binarizer
from sklearn.compose import ColumnTransformer
bin_trf = ColumnTransformer(transformers=[
    ("bin_trf",Binarizer(copy=False),['Family'])
],remainder='passthrough')

In [22]:
X_train_trf = bin_trf.fit_transform(X_train)
X_test_trf = bin_trf.transform(X_test)

In [23]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
clf = DecisionTreeClassifier()
clf.fit(X_train_trf,y_train)
y_pred = clf.predict(X_test_trf)
accuracy_score(y_test, y_pred)

0.6573426573426573