In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../../Data/Football_Player_Stats.csv')
df

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,CrdY,CrdR,2CrdY,Goals,Shots,SoT,Assists
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22,2000,34,0.25,0.00,0.00,0.00,0.41,0.06,0.06
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34,1987,34,0.15,0.03,0.00,0.06,0.54,0.18,0.00
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22,2000,31,0.44,0.11,0.07,0.04,0.66,0.18,0.00
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29,1993,34,0.27,0.00,0.00,0.00,0.91,0.21,0.06
4,5,Charles Abi,FRA,FW,Saint-Étienne,Ligue 1,22,2000,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Federico Ceccherini,ITA,DF,Hellas Verona,Serie A,30,1992,34,0.46,0.04,0.04,0.04,0.42,0.08,0.00
496,497,Emil Ceide,NOR,FWDF,Sassuolo,Serie A,20,2001,6,0.00,0.00,0.00,0.00,0.00,0.00,0.00
497,498,Zeki Çelik,TUR,DF,Lille,Ligue 1,25,1997,32,0.33,0.00,0.00,0.07,0.77,0.10,0.10
498,499,Fabien Centonze,FRA,DF,Metz,Ligue 1,26,1996,19,0.17,0.00,0.00,0.23,0.85,0.40,0.06
499,500,Luca Ceppitelli,ITA,DF,Cagliari,Serie A,32,1989,24,0.19,0.00,0.00,0.06,0.43,0.06,0.06

# 1. How big the data is

In [4]:
df.shape

(500, 16)

# 2. Data look like

In [5]:
df.sample(10)

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,CrdY,CrdR,2CrdY,Goals,Shots,SoT,Assists
268,269,Darío Benedetto,ARG,FWMF,Marseille,Ligue 1,32,1990,2,0.00,0.00,0.00,0.00,5.00,0.00,0.00
368,369,Lilian Brassier,FRA,DF,Brest,Ligue 1,22,1999,31,0.16,0.00,0.00,0.04,0.44,0.08,0.00
481,482,Francesco Cassata,ITA,MF,Genoa,Serie A,24,1997,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
103,104,Josep Antoni Gayá,ESP,DF,Mallorca,La Liga,21,2000,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
188,189,Folarin Balogun,ENG,FW,Arsenal,Premier League,20,2001,2,0.00,0.00,0.00,0.00,3.75,0.00,0.00
202,203,Enis Bardhi,MKD,MFFW,Levante,La Liga,26,1995,30,0.16,0.00,0.00,0.16,2.17,0.37,0.16
104,105,Michail Antonio,JAM,FW,West Ham,Premier League,32,1990,36,0.24,0.03,0.03,0.30,2.52,0.82,0.24
14,15,Tyler Adams,USA,MF,RB Leipzig,Bundesliga,23,1999,24,0.33,0.00,0.00,0.00,0.13,0.00,0.07
171,172,Stefan Bajic,FRA,GK,Saint-Étienne,Ligue 1,20,2001,7,0.00,0.00,0.00,0.00,0.00,0.00,0.00
457,458,Pierrick Capelle,FRA,MFDF,Angers,Ligue 1,35,1987,30,0.08,0.00,0.00,0.00,1.28,0.08,0.08

# 3. Data type

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rk       500 non-null    int64
 1   Player   500 non-null    object
 2   Nation   500 non-null    object
 3   Pos      500 non-null    object
 4   Squad    500 non-null    object
 5   Comp     500 non-null    object
 6   Age      500 non-null    int64
 7   Born     500 non-null    int64
 8   MP       500 non-null    int64
 9   CrdY     500 non-null    float64
 10  CrdR     500 non-null    float64
 11  2CrdY    500 non-null    float64
 12  Goals    500 non-null    float64
 13  Shots    500 non-null    float64
 14  SoT      500 non-null    float64
 15  Assists  500 non-null    float64
dtypes: float64(7), int64(4), object(5)
memory usage: 62.6+ KB

# 4. Missing value

In [8]:
df.isnull().sum()

Rk         0
Player     0
Nation     0
Pos        0
Squad      0
Comp       0
Age        0
Born       0
MP         0
CrdY       0
CrdR       0
2CrdY      0
Goals      0
Shots      0
SoT        0
Assists    0
dtype: int64

In [9]:
df.isnull().mean()

Rk         0.0
Player     0.0
Nation     0.0
Pos        0.0
Squad      0.0
Comp       0.0
Age        0.0
Born       0.0
MP         0.0
CrdY       0.0
CrdR       0.0
2CrdY      0.0
Goals      0.0
Shots      0.0
SoT        0.0
Assists    0.0
dtype: float64

# 5. All statistical info

In [10]:
df.describe()

,Rk,Age,Born,MP,CrdY,CrdR,2CrdY,Goals,Shots,SoT,Assists
count,500.000000,500.0000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,250.500000,26.0840,1995.428000,18.842000,0.200180,0.007100,0.003320,0.109280,1.202860,0.393340,0.088220
std,144.481833,4.6661,4.651461,11.770051,0.226039,0.026744,0.019113,0.228774,1.430507,0.674536,0.257428
min,1.000000,16.0000,1981.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,125.750000,22.7500,1992.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.290000,0.000000,0.000000
50%,250.500000,26.0000,1996.000000,19.000000,0.160000,0.000000,0.000000,0.000000,0.770000,0.190000,0.000000
75%,375.250000,30.0000,1999.000000,30.000000,0.290000,0.000000,0.000000,0.132500,1.822500,0.565000,0.112500
max,500.000000,40.0000,2005.000000,38.000000,1.670000,0.230000,0.220000,3.330000,15.000000,10.000000,5.000000

In [20]:
# all numerical data
df[['Age', 'Born', 'MP','CrdY', 'CrdR', '2CrdY', 'Goals', 'Shots', 'SoT', 'Assists']].corr()

,Age,Born,MP,CrdY,CrdR,2CrdY,Goals,Shots,SoT,Assists
Age,1.000000,-0.994237,0.231658,0.071522,0.040338,-0.010549,0.093172,0.052384,-0.016816,0.015123
Born,-0.994237,1.000000,-0.234750,-0.064687,-0.033821,0.022531,-0.102459,-0.063211,0.007630,-0.023078
MP,0.231658,-0.234750,1.000000,0.072383,0.051765,0.044651,0.138424,0.045689,0.056582,0.050967
CrdY,0.071522,-0.064687,0.072383,1.000000,0.152017,0.212959,-0.103965,-0.016104,-0.056160,-0.036669
CrdR,0.040338,-0.033821,0.051765,0.152017,1.000000,0.712031,-0.021370,-0.055817,-0.053174,-0.008145
2CrdY,-0.010549,0.022531,0.044651,0.212959,0.712031,1.000000,-0.021360,-0.015102,-0.030738,0.007924
Goals,0.093172,-0.102459,0.138424,-0.103965,-0.021370,-0.021360,1.000000,0.426449,0.455973,0.068899
Shots,0.052384,-0.063211,0.045689,-0.016104,-0.055817,-0.015102,0.426449,1.000000,0.732732,0.096212
SoT,-0.016816,0.007630,0.056582,-0.056160,-0.053174,-0.030738,0.455973,0.732732,1.000000,0.057379
Assists,0.015123,-0.023078,0.050967,-0.036669,-0.008145,0.007924,0.068899,0.096212,0.057379,1.000000

# 6. Duplicate value check

In [12]:
df.duplicated().sum()

0

In [17]:
df.duplicated().sum()

0