In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../../../../Data/Housing_Data.csv",usecols=['LotFrontage','GarageQual','SalePrice'])
df

      LotFrontage GarageQual  SalePrice
0            65.0         TA     208500
1            80.0         TA     181500
2            68.0         TA     223500
3            60.0         TA     140000
4            84.0         TA     250000
...           ...        ...        ...
1455         62.0         TA     175000
1456         85.0         TA     210000
1457         66.0         TA     266500
1458         68.0         TA     142125
1459         75.0         TA     147500

[1460 rows x 3 columns]

In [3]:
df.isnull().sum()

LotFrontage    259
GarageQual      81
SalePrice        0
dtype: int64

# KNN Imputation

In [4]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,:-1],df.iloc[:,-1],test_size=0.2,random_state=2)
X_train

      LotFrontage GarageQual
455          80.0         TA
863          70.0         TA
504          24.0         TA
1413         88.0         TA
1389         60.0         TA
...           ...        ...
466          85.0         TA
299          80.0         TA
493          70.0         TA
527          67.0         TA
1192         60.0         TA

[1168 rows x 2 columns]

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import KNNImputer
from sklearn.preprocessing import OrdinalEncoder

imp_trf = ColumnTransformer(transformers=[
    ("num_imp",KNNImputer(n_neighbors=3,weights='distance'),['LotFrontage']),
    # ("cat_imp",KNNImputer(n_neighbors=3),['GarageQual']),
    # ("cat_ohe",OrdinalEncoder(categories=[["Po","TA","Fa","Gd","Ex"]]),['GarageQual'])
],remainder="passthrough")

In [12]:
X_train_imp = imp_trf.fit_transform(X_train)

In [13]:
df['GarageQual'].value_counts()

GarageQual
TA    1311
Fa      48
Gd      14
Ex       3
Po       3
Name: count, dtype: int64